@import "tailwindcss";

@plugin "daisyui" {
  themes: light;
}

@plugin "daisyui/theme" {
  name: "mango-pro";
  default: true;
  color-scheme: "light";
  
  --color-base-100: #D4D9D7; 
  --color-base-200: #C4C9C7;
  --color-base-300: #B4B9B7;
  --color-base-content: #37353E; 
  
  --color-primary: #37353E; 
  --color-primary-content: #D4D9D7;
  
  --color-secondary: #695D5E; 
  --color-secondary-content: #ffffff;
  
  --color-accent: #424450;
  --color-accent-content: #D4D9D7;
  
  --color-neutral: #37353E;
  --color-neutral-content: #D4D9D7;

  --color-info: #38BDF8;
  --color-success: #22C55E;
  --color-warning: #F59E0B;
  --color-error: #EF4444;

  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
}

/* @import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar"; */

body {
  overflow-x: hidden;
  background-color: var(--color-base-100);
}

.glass-panel {
  @apply bg-white/10 backdrop-blur-md border border-white/20 shadow-xl;
}
.glass-panel-dark {
  @apply bg-black/30 backdrop-blur-md border border-white/10 shadow-xl;
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

